// ---------------------------
// Application variables
// ---------------------------
$progress-bar-height: 5px;
$progress-bar-duration: 3s;
$progress-bar-delay: 1.5s;

// ---------------------------
// Addon overrides
// ---------------------------

// ---------------------------
// Bootstrap overrides
// ---------------------------

// ---------------------------
// Template overrides
// ---------------------------
